<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>desafio</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AtendimentoServlet</servlet-name>
    <servlet-class>desafio.com.br.servlet.AtendimentoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtendimentoServlet</servlet-name>
    <url-pattern>/atendimentoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Etapa1Servlet</servlet-name>
    <servlet-class>desafio.com.br.servlet.Etapa1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Etapa1Servlet</servlet-name>
    <url-pattern>/etapa1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Etapa2Servlet</servlet-name>
    <servlet-class>desafio.com.br.servlet.Etapa2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Etapa2Servlet</servlet-name>
    <url-pattern>/etapa2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Etapa3Servlet</servlet-name>
    <servlet-class>desafio.com.br.servlet.Etapa3Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Etapa3Servlet</servlet-name>
    <url-pattern>/etapa3Servlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>Etapa4Servlet</servlet-name>
    <servlet-class>desafio.com.br.servlet.Etapa4Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Etapa4Servlet</servlet-name>
    <url-pattern>/etapa4Servlet</url-pattern>
  </servlet-mapping>
</web-app>